﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Posts
    </h1>
    <p>Fernando´s .NET Blog Engine App</p>
</div>

<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-sm-4 mb-2">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5>@post.Title</h5>
                    <h6 class="card-subtitle mb-3 text-muted"><small>@post.Writer.Username -  @post.ApprovalDate.ToString("dd MMM yyyy")</small></h6>
                    <p class="card-text">@post.Content</p>
                    <a href="@Url.Action("Post", "Home", new { id = @post.PostId })" class="card-link"><small>View/Add comments</small></a>
                </div>
            </div>
        </div>
    }
</div>