﻿@{
    ViewData["Title"] = "Post Info - " + @Model.PostInfo.Title;
}

<div class="card text-center mb-4">
    <div class="card-header">
        <h2 class="mb-2">@Model.PostInfo.Title</h2>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-3 text-muted"><small>@Model.PostInfo.Writer.Username -  @Model.PostInfo.ApprovalDate.ToString("dd MMM yyyy")</small></h6>
        <p class="card-text">@Model.PostInfo.Content</p>
    </div>
</div>

Comments:
<ul class="list-group  list-group-flush mb-4">
    @foreach (var comment in Model.PostInfo.Comments)
    {
        <li class="list-group-item"><b>@comment.AuthorName <small class="text-muted">said in @comment.CreatedDate.ToString("dd MMM")</small></b>: @comment.Content </li>
    }
</ul>


<div class="row new_comment_inputs">
    <div class="col-2">
        <b>New Comment</b>
    </div>
    <div class="col-3 d-inline">
        <label for="authorName"><b>Author </b></label>
        <input type="text" class="form-control" id="authorName"
               value = 
                    "@if ((string)ViewData["SessionRole"] == "writer" || (string)ViewData["SessionRole"] == "editor") { 
                        @ViewData["SessionUsername"]; }"
               >
    </div>
    <div class="col-5 d-inline">
        <label for="comment"><b>Comment </b></label>
        <input type="text" class="form-control input-sm" id="comment">
    </div>

    <div class="col-2 d-inline">
        <button id="btnAddComment" type="button" class="btn btn-primary btn-sm">Add comment</button>
    </div>
</div>

<style>
    .list-group-item {
                           font-size:13px;
                       }
    .list-group-item > small {
        font-size:7px;
    }
    .new_comment_inputs {
        font-size: 12px;
    }
    .form-control {
        display: inline-block;
        font-size: 11px;
    }
    #authorName {
        width: 150px !important;
    }

    #comment {
        width: 250px !important;
    }
</style>

<script>
window.onload = function() {

var baseUrl = '@ViewData["BaseUrl"]';

$("#btnAddComment").click(function () {
    $.ajax({
        method: "POST",
        contentType: "application/json",
        dataType: "json",
        url: baseUrl + "api/Comment",
        data: JSON.stringify({
            PostId: "@Model.PostInfo.PostId",
            Content: $("#comment").val(),
            AuthorName: $("#authorName").val()
        })
    })
    .done(function( msg ) {
        alert("Comment saved");
        location.reload();
    });
});

};
</script>