﻿<link href="~/css/Login.css" rel="stylesheet">
@{
    ViewData["Title"] = "Login Page";
}

@if ((string)ViewData["isValid"] == "no") { 
       <script>alert("User or password Incorrect");</script>
}

<div class="text-center">
    <h3 class="display-4">
        Fernando´s .NET Blog Engine App
    </h3>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/img/zem.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="@Url.Action("Login", "Login")" method="post">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" autofocus>
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" id="bntLogin" class="fadeIn fourth" value="Log In">
        </form>

    </div>
</div>