﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Writer - @ViewData["SessionUsername"]
    </h1>
    <p>My Post post</p>
</div>

<div class="row">
    @if (Model.Posts.Count > 0)
    {
        @foreach (var post in Model.Posts)
        {
            <div class="col-sm-4 mb-2">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5>@post.Title</h5>
                        <h6 class="card-subtitle mb-3 text-muted"><small>@post.Writer.Username -  @post.CreatedDate.ToString("dd MMM yyyy")</small></h6>
                        <p class="card-text">@post.Content</p>
                        <p class="card-text"><small><b>Status:</b> @post.Status</small></p>
                        @if (post.Status != "pending")
                        {
                            <div class="div-status">
                                
                                <a class="btn-success btn btn-sm" asp-area="" asp-controller="Writer" asp-action="Write" asp-route-id="@post.PostId" asp-route-pageType="edit">Edit Post</a>
                                <button class="btnSubmit btn-primary btn btn-sm" data-postid="@post.PostId">Submit</button>
                            </div>
                        }
                        else {
                            <div class='alert alert-primary' role='alert'>Submitted</div>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class='col-sm-8 alert alert-warning' role='alert'>No posts found</div>
    }
</div>

<script>
    window.onload = function () {

        var baseUrl = '@ViewData["BaseUrl"]';

        $(".btnSubmit").click(function () {
            var _self = $(this);

            $.ajax({
                method: "PUT",
                contentType: "application/json",
                dataType: "json",
                url: baseUrl + "api/Post/SubmitPost?postId=" + _self.data("postid"),
                data: {
                    postId: _self.data("postId")
                }
            })
                .done(function (msg) {
                    _self.closest(".div-status").html("<div class='alert alert-primary' role='alert'>Submitted</div>");
                });
        });

    };
</script>