﻿@{
    ViewData["Title"] = "Write Post";
}

<div class="text-center">
    <h5 class="display-4">
        @if (Model.PageType == "edit")
        {
            <b>Editing Post: </b> @Model.PostInfo.Title;
        }
        else
        {
            <span>Write Post</span>
        }
    </h5>
</div>


<div class="card text-center mb-4">
    <div class="card-header">
        <h3 class="mb-2">
            Title:
            <input type="text" class="form-control" id="title" value="@if (Model.PageType == "edit") { @Model.PostInfo.Title; }" placeholder="Title"/>
        </h3>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-3 text-muted"><small> </small></h6>
        <p class="card-text">Content: <input type="text" class="form-control input-sm" id="content" value="@if (Model.PageType == "edit") { @Model.PostInfo.Content; }" placeholder="Content"> </p>

        @if (Model.PageType == "edit")
        {
            <button id="btnUpdatePost" type="button" class="btn btn-success btn-sm">Update Post</button>
        }
        else
        {
            <button id="btnAddPost" type="button" class="btn btn-primary btn-sm">Add Post</button>
        }

    </div>
</div>




<script>
window.onload = function() {

var baseUrl = '@ViewData["BaseUrl"]';

$("#btnAddPost").click(function () {
    $.ajax({
        method: "POST",
        contentType: "application/json",
        dataType: "json",
        url: baseUrl + "api/Post",
        data: JSON.stringify({
            Title:  $("#title").val(),
            Content: $("#content").val(),
            WriterUserId: @ViewData["SessionUserId"]
        })
    })
    .done(function( msg ) {
        alert("Post saved");
        window.location.replace(baseUrl + "Writer/Index/" + "@ViewData["SessionUserId"]");
    });
});


var pageType = '@Model.PageType';
var postId = "@if (Model.PageType == "edit") { @Model.PostInfo.PostId; }";

if (pageType == "edit")
{
     $("#btnUpdatePost").click(function () {
        $.ajax({
            method: "PUT",
            contentType: "application/json",
            dataType: "json",
            url: baseUrl + "api/Post",
            data: JSON.stringify({
                PostId: postId,
                Title:  $("#title").val(),
                Content: $("#content").val(),
                WriterUserId: @ViewData["SessionUserId"]
            })
        })
        .done(function( msg ) {
            alert("Post saved");
            window.location.replace(baseUrl + "Writer/Index/" + "@ViewData["SessionUserId"]");
        });
     });
}

};
</script>

