﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Editor
    </h1>
    <p>Approve pending post</p>
</div>

<div class="row">
    @if (Model.Posts.Count > 0)
    {
        @foreach (var post in Model.Posts)
        {
            <div class="col-sm-4">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5>@post.Title</h5>
                        <h6 class="card-subtitle mb-3 text-muted"><small>@post.Writer.Username</small></h6>
                        <p class="card-text">@post.Content</p>
                        <div class="div-status">
                            <button class="btnApprove btn-primary btn btn-sm" data-postid="@post.PostId">Approve</button>
                            <button class="btnReject btn-warning btn btn-sm" data-postid="@post.PostId">Reject</button>
                            <button class="btnDelete btn-danger btn btn-sm" data-postid="@post.PostId">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else{
        <div class='col-sm-8 alert alert-warning' role='alert'>No posts pending for approval</div>
    }
</div>

<script>
    window.onload = function () {

        var baseUrl = '@ViewData["BaseUrl"]';

        $(".btnApprove").click(function () {
            var _self = $(this);

            $.ajax({
                method: "PUT",
                contentType: "application/json",
                dataType: "json",
                url: baseUrl + "api/Post/ApprovePost?postId=" + _self.data("postid")
            })
                .done(function (msg) {
                    _self.closest(".div-status").html("<div class='alert alert-primary' role='alert'>Approved</div>");
                });
        });

        $(".btnReject").click(function () {
            var _self = $(this);

            $.ajax({
                method: "PUT",
                contentType: "application/json",
                dataType: "json",
                url: baseUrl + "api/Post/RejectPost?postId=" + _self.data("postid")
            })
                .done(function (msg) {
                    _self.closest(".div-status").html("<div class='alert alert-warning' role='alert'>Rejected</div>");
                });
        });

        $(".btnDelete").click(function () {
            var _self = $(this);

            var r = confirm("Do you want to delete the post?");
            if (r == true) {
                $.ajax({
                    method: "DELETE",
                    contentType: "application/json",
                    dataType: "json",
                    url: baseUrl + "api/Post/DeletePost?postId=" + _self.data("postid")
                })
                    .done(function (msg) {
                        _self.closest(".div-status").html("<div class='alert alert-danger' role='alert'>Deleted</div>");
                    });
            }
        });

    };
</script>